:root{
    --green:#1fb150;
    --red:#db4c32;
    --yellow:#ff9400;
}
*{
    margin: 0;
    padding: 0;
    font-family:'Montserrat';
    font-size: 22px;
    font-size: medium;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
   
}
body{
    background-image: url("./images/moon_space_black_185222_3840x2160.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
}
.main{
    display: flex;
    justify-content: center;
    gap:10px;
}
.history{
    margin-top: 50px;
    
    width: 150px;
    height: 350px;
    background-color: rgb(29, 29, 29);
    padding: 10px;
    border-radius: 2%;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(121, 121, 121, 0.349);
    transition: 0.5s;
}
.animate{
    
    animation: showComputer 0.6s 0.1s cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
    opacity: 0;
  }
.animate-out{

    animation: showPlayer 0.6s 0.1s cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
    opacity:1;
  }
  @keyframes showComputer {
    0%{
    transform: translateX(40px);
    
    }
    100% {
    
    transform: translateX(0px);
    
    
    
    opacity: 1;
    
    }
}
@keyframes showPlayer {
    0%{
    transform: translateX(0px);
    
    }
    100% {
    
    transform: translateX(0px);
    
    
    
    opacity: 1;
    
    }
    }
.history-element{
   
}
.display-window{
        display: flex;
        width: 300px;
        padding: 5px;
        margin: 10px;
    min-height: 100px;
    background-color: rgb(51, 51, 51);
    border-radius: 2%;
    align-items: end;
    box-shadow: -1px 1px 54px -26px rgba(0, 0, 0, 0.486) inset;
    -webkit-box-shadow: -1px 1px 54px -26px rgba(0, 0, 0, 0.507) inset;
    -moz-box-shadow: -1px 1px 54px -26px rgba(0, 0, 0, 0.514) inset;
}
img{
    width: 30px;
    height: 30px;
}
.cal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    transition: 0.5s;
    margin-top: 50px;
    background-color: rgb(29, 29, 29);
    padding: 10px;
    border-radius: 2%;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(121, 121, 121, 0.349);
  
}
.heading{
    margin-top: 30px;
    text-align: center;
    font-size: xx-large;
    color: rgb(192, 192, 192);
}

.output{
    
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;

   
}

.buttons{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}

#display-text,#secondary-text{
  
  width: 270px;
  text-align: right;
  font-size: x-large;
  font-weight: 100;
  word-wrap: break-word;
 

}
.list{
    display: flex;
    margin: 10px;
    gap: 20px;
    
    
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: #1a1a1a;
  
}
.credit{
    text-align: center;
    background-color: #1a1a1a;
    color: white;    
}
a{
    background-color: #1a1a1a;
    color: rgb(185, 185, 185);  
    transition: 0.3s;
}
a:hover{
    color: rgb(87, 87, 87);  
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: black;
    transition: 0.3s;

   

}
.equal-button{
    width: 125px;
    border-radius: 5%;
    background-color: var(--green);
}
.equal-button:hover{
    background-color: #20d83e;;
}
.NUMBER{
    background-color: black;
}
.OPERATOR{
    background-color:var(--yellow);
    font-size:x-large;
    font-weight: 500;
}
.DEL,.AC{
    background-color: var(--red);
    transition: 0.3s;
}
.button:hover{
    transform: scale(0.93);
}
.DEL:hover,.AC:hover{
    background-color: #d11f00;;
}
.NUMBER:hover{
    background-color: rgb(20, 20, 20);
}
.OPERATOR:hover{
    background-color:rgb(255, 123, 0);
}