:root{
    --green:#1fb150;
    --red:#db4c32;
    --yellow:#ff9400;
}
*{
    margin: 0;
    padding: 0;
    font-family:'Montserrat';
    font-size: 22px;
    font-size: medium;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.cal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(29, 29, 29);
    padding: 10px;
    border-radius: 2%;
    cursor: pointer;
}

.output{
    width: 300px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    margin: 10px;
    background-color: rgb(68, 68, 68);
    border-radius: 2%;
    box-shadow: -1px -2px 13px 2px rgba(0,0,0,0.72) inset;
    -webkit-box-shadow: -1px -2px 13px 2px rgba(0,0,0,0.72) inset;
    -moz-box-shadow: -1px -2px 13px 2px rgba(0,0,0,0.72) inset;
}
.buttons{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}

#display-text,#secondary-text{
  margin: 10px;
  width: 270px;
  text-align: right;
  font-size: x-large;
  font-weight: 100;
  word-wrap: break-word;
 

}
.list{
    display: flex;
    margin: 10px;
    gap: 20px;
    
    
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: black;
    transition: 0.3s;

   
}
.equal-button{
    width: 125px;
    border-radius: 5%;
    background-color: var(--green);
}
.equal-button:hover{
    background-color: #20d83e;;
}
.NUMBER{
    background-color: black;
}
.OPERATOR{
    background-color:var(--yellow);
    font-size:x-large;
    font-weight: 500;
}
.DEL,.AC{
    background-color: var(--red);
    transition: 0.3s;
}
.button:hover{
    transform: scale(0.93);
}
.DEL:hover,.AC:hover{
    background-color: #d11f00;;
}
.NUMBER:hover{
    background-color: rgb(20, 20, 20);
}
.OPERATOR:hover{
    background-color:rgb(255, 123, 0);
}